input.accordion {
    display: none;
}

label.accordion {
    cursor: pointer;
}

input.image:checked ~ .qr-content {
    height: auto;
    padding: 1rem;
}

input.qrcode:checked ~ .qr-content {
    height: auto;
    padding: 1rem;
}

.qr-content {
    overflow: hidden;
    padding: 0;
    height: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.donate-qr {
    padding-bottom: 1em;
    font-size: 0.9rem;
}

.donate-qr .button {
   color: #ff6191;
}

.qr img {
    border-radius: 5px;
    max-width: 100%;
}

h1 {
  text-align: center;
}

.funded {
    background-color: #0060df;
    padding: 0.2rem;
}

.progress {
    background-color: #ed1a5b;
    padding: 0.2rem;
}

body {
  background-color: #181818;
  color: white;
  font-family: Monospace;
  font-size: 120%;
  margin: auto;
  width: 70%;
  word-wrap: break-word;
}

a {
  color: #ff6191;
}

ol.projects {
  margin-top: 1em;
  margin-bottom: 1em;
}

.subtext {
  font-size: 0.9rem;
}

.subaddress {
  color: #f26222;
  font-size: 0.9rem;
}
 .point {
  cursor: pointer;
}
  
.fundgoal {
  font-size: 85%;
}
 
.footer {
  font-size: 50%;
  text-align: right;
}
